In [40]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [53]:
fileaccident = "US_Accidents_May19.csv"
dfaccs = pd.read_csv(fileaccident)
dfaccs.isnull().sum()
len(filedfaccs)
dfaccs.columns
#dfaccs1 = filedfaccs.drop('Source', 'Severity', 'Start_Time', 'End_Time', 'End_Lat', 'End_Lng', axis=1)

dfaccs1 = dfaccs.drop(['Source', 'Severity', 'Description','TMC', 'Start_Time', 'End_Time', 'No_Exit','End_Lat', 'End_Lng', 'Number', 'Roundabout', 'Station', 'Stop'], axis=1)
dfaccs1.head()

,ID,Start_Lat,Start_Lng,Distance(mi),Street,Side,City,County,State,Zipcode,...,Give_Way,Junction,Railway,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,39.865147,-84.058723,0.01,I-70 E,R,Dayton,Montgomery,OH,45424,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,39.928059,-82.831184,0.01,Brice Rd,L,Reynoldsburg,Franklin,OH,43068-3402,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,39.063148,-84.032608,0.01,State Route 32,R,Williamsburg,Clermont,OH,45176,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,39.747753,-84.205582,0.01,I-75 S,R,Dayton,Montgomery,OH,45417,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,39.627781,-84.188354,0.01,Miamisburg Centerville Rd,R,Dayton,Montgomery,OH,45459,...,False,False,False,False,True,False,Day,Day,Day,Day

In [42]:
dfaccs2 = dfaccs1.drop([ 'Description', 'Wind_Chill(F)','Crossing','Wind_Direction','Precipitation(in)','Railway', 'Amenity','Bump','Traffic_Calming','Give_Way','Junction','Traffic_Signal', 'Turning_Loop'], axis=1)
dfaccs2.head()

,ID,Start_Lat,Start_Lng,Distance(mi),Street,Side,City,County,State,Zipcode,...,Temperature(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Weather_Condition,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,39.865147,-84.058723,0.01,I-70 E,R,Dayton,Montgomery,OH,45424,...,36.9,91.0,29.68,10.0,NaN,Light Rain,Night,Night,Night,Night
1,A-2,39.928059,-82.831184,0.01,Brice Rd,L,Reynoldsburg,Franklin,OH,43068-3402,...,37.9,100.0,29.65,10.0,NaN,Light Rain,Night,Night,Night,Day
2,A-3,39.063148,-84.032608,0.01,State Route 32,R,Williamsburg,Clermont,OH,45176,...,36.0,100.0,29.67,10.0,3.5,Overcast,Night,Night,Day,Day
3,A-4,39.747753,-84.205582,0.01,I-75 S,R,Dayton,Montgomery,OH,45417,...,35.1,96.0,29.64,9.0,4.6,Mostly Cloudy,Night,Day,Day,Day
4,A-5,39.627781,-84.188354,0.01,Miamisburg Centerville Rd,R,Dayton,Montgomery,OH,45459,...,36.0,89.0,29.65,6.0,3.5,Mostly Cloudy,Day,Day,Day,Day

In [60]:
dfaccs3 = dfaccs2.drop([ 'Pressure(in)','ID','Timezone','Civil_Twilight','Country','Wind_Speed(mph)','Visibility(mi)','Weather_Timestamp','Airport_Code', 'Nautical_Twilight','Temperature(F)', 'Humidity(%)','Astronomical_Twilight'], axis=1)
dfaccs3.head()

,Start_Lat,Start_Lng,Distance(mi),Street,Side,City,County,State,Zipcode,Weather_Condition,Sunrise_Sunset
0,39.865147,-84.058723,0.01,I-70 E,R,Dayton,Montgomery,OH,45424,Light Rain,Night
1,39.928059,-82.831184,0.01,Brice Rd,L,Reynoldsburg,Franklin,OH,43068-3402,Light Rain,Night
2,39.063148,-84.032608,0.01,State Route 32,R,Williamsburg,Clermont,OH,45176,Overcast,Night
3,39.747753,-84.205582,0.01,I-75 S,R,Dayton,Montgomery,OH,45417,Mostly Cloudy,Night
4,39.627781,-84.188354,0.01,Miamisburg Centerville Rd,R,Dayton,Montgomery,OH,45459,Mostly Cloudy,Day

In [59]:
dfaccs3.to_csv('Accident.csv')